@model IEnumerable<GeneralManager.Models.Contact>
@{
	ViewBag.Title = "Home";
}

@section Scripts {
	@Scripts.Render("~/bundles/knockout")
	<script type="text/javascript">
		@functions{
		    public string TokenHeaderValue()
		    {
		        string cookieToken, formToken;
		        AntiForgery.GetTokens(null, out cookieToken, out formToken);
		        return cookieToken + ":" + formToken;
		    }
		}
		function ContactsViewModel() {
			var self = this;
			self.contacts = ko.observableArray([]);
			self.addContact = function () {
				$.ajax({
					type: "post",
					url: "api/contact",
					data: $("#addContact").serialize(),
					dataType: "json",
					success: function (value) {
						self.contacts.push(value);
					},
					headers: {
						'RequestVerificationToken': '@TokenHeaderValue()'
					}
				});
			}
			self.removeContact = function (contact) {
				$.ajax({
					type: "DELETE",
					url: contact.Self,
					success: function () {
						self.contacts.remove(contact);
					},
					headers: {
						'RequestVerificationToken': '@TokenHeaderValue()'
					}

				});
			}

			$.getJSON("api/contact", function (data) {
				self.contacts(data);
			});
		}
		ko.applyBindings(new ContactsViewModel());
	</script>
}
<div class="container">
	<div class="row">
		<div class="col-lg-9">
			<div id="contacts" data-bind="foreach: contacts">
				<div class="row" style="border-bottom: 1px solid gray;">
					<div class="col-lg-5" style="padding: 0px">
						<strong data-bind="text: FullName"></strong>
						<div data-bind="text: $data.MailingAddress || 'Mailing Address?'"></div>
					</div>
					<div class="col-lg-2" data-bind="if: $data.Email"><a data-bind="attr: { href: 'mailto:' + Email }, text: Email"></a></div>
					<div class="col-lg-2" data-bind="ifnot: $data.Email"><span>Email?</span></div>
					<div class="col-lg-2" data-bind="text: $data.Phone || 'Phone?'"></div>
					<div class="col-lg-1"><a data-bind="attr: { href: Self }, click: $root.removeContact" class="ui-state-default ui-corner-all">Remove</a></div>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<form id="addContact" data-bind="submit: addContact">
				<fieldset>
					<div>
						@Html.LabelFor(model => model.First().FirstName)
						@Html.TextBoxFor(model => model.First().FirstName, new { @Value = "", @class = "form-control" })
					</div>
					<div>
						@Html.LabelFor(model => model.First().LastName)
						@Html.TextBoxFor(model => model.First().LastName, new { @Value = "", @class = "form-control" })
					</div>
					<div>
						@Html.LabelFor(model => model.First().Address)
						<input type="text" name="Address" class="form-control" />
					</div>
					<div>
						@Html.LabelFor(model => model.First().City)
						<input type="text" name="City" class="form-control" />
					</div>
					<div>
						@Html.LabelFor(model => model.First().State)
						<input type="text" name="State" class="form-control" />
					</div>
					<div>
						@Html.LabelFor(model => model.First().Zip)
						<input type="text" name="Zip" class="form-control" />
					</div>
					<div>
						@Html.LabelFor(model => model.First().Email)
						<input type="text" name="Email" class="form-control" />
					</div>
					<div>
						@Html.LabelFor(model => model.First().Phone)
						<input type="text" name="Phone" class="form-control" />
					</div>
					<div>
						<input type="submit" value="Add" class="form-control" />
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>